@import '../../../styles/styles';

#ingredients-list {
  margin: 3rem;
  .card {
    font-size: 1rem;
    width: 20rem;
    min-height: 18rem;
    margin: 0 1rem 1rem 1rem;
    border: none;
    box-shadow: none;
    border-radius: 1rem;
    overflow: hidden;
  }
  .card-body {
    background-image: linear-gradient(0deg, #bf9632, $secondary-color);
    color: $font-color;
  }
  .card-img-top {
    width: 100%;
    height: 15rem;
    object-fit: cover;
  }
  .fas {
    margin: 1rem;
    color: $primary-color;
  }
  .fa-circle {
    color: $primary-color !important;
  }
  .ingred-types {
    color: $font-color;
    opacity: 50%;
  }
}
