@import '../../../styles/styles';

.card-body {
  background-image: linear-gradient(0deg, #bf9632, $secondary-color);
  color: $font-color;
}

.card-header {
  /*border: 1px solid $primary-color;*/
  background-image: linear-gradient(0deg, #FFF, #e3e3e3);
  font-size: 1.1rem;
}

#summary {
  border: 1px solid #5386E4;
}

#clearByDate {
  border: 1px solid #5386E4;
}

#firstCard {
  border: 1px solid #5386E4;
}
