@import '../../../styles/styles';

.card {
  width: 20rem;
  margin: 1rem 1rem 1rem 1rem;
  border: none;
  box-shadow: none;
  border-radius: 1rem;
  background-image: linear-gradient(0deg, #bf9632, $secondary-color);
  color: $font-color;

}

.staffNav {
  justify-content: space-around;
  margin-top: 1em;
}

.row{
  align-items: center;
}
