/* Color Palette: */

$background-color: #F6E8EA;
$background-hover: #c4b9b9;
$primary-color: #5386E4;
$primary-hover: #4169b3;
$secondary-color: #E3B23C;
$font-color: #353a3f;
$danger-color: #F93943;
