@import '../../../styles/styles';

#add-edit-reservation-form {
  border: 1px solid $primary-color;
  border-radius: 1em;
  padding-top: 20px;
  background-image: linear-gradient(0deg, #FFF, #e3e3e3);
  width: 90vw;
  font-size: 1.1rem;
}

#reservation-form {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 3px;
    text-overflow: '';
  }
  form {
    margin: 0;
    padding: 0;
    width: 95%;
  }
  .btn-primary {
    background-color: $primary-color;
    border-color: $primary-color;
  }
  .btn-primary:hover {
    background-color: $primary-hover;
    border-color: $primary-hover;
  }

  #minutes {
    height: 37px;
    width: 49px;
    border: 1px solid #ced4da;
    border-radius: 5px;
  }
  
  #hour {
    height: 37px;
    width: 49px;
    border: 1px solid #ced4da;
    border-radius: 5px;
  }
  
  #size {
    height: 37px;
    width: 60px;
  }
}

#cancel-res-edit:hover, .edit-reservation-btn {
  cursor: pointer;
}

.res-form-col {
  flex-wrap: nowrap !important;
}

.res-form-block {
  white-space: nowrap;
}

.mute-card {
  opacity: 0.5;

  .fa-circle {
    display: none;
  }
}

.res-list-area {
  background-image: linear-gradient(0deg, #bf9632, $secondary-color);
  border-radius: 1em;
  width: 90%;
}

#display-reservations {
  width: 100vw;
}

.reservation-card {
  background-image: linear-gradient(0deg, #4671c0, #5386E4);
  border: 4px solid $primary-hover;
  width: 22em;
  margin: 15px;
  border-radius: 1rem;
  overflow: hidden;

  .res-card-header {
    font-size: 1.1em;
    padding: 15px;
    color: white;
  }
  .res-card-body {
    color: $font-color;
    height: 100px;
    border-top: 3px solid $primary-color;
  }
  
  .res-info {
    background-image: linear-gradient(0deg, #FFF, #e3e3e3);
    font-size: 1.3em;
    padding: 30px 0px 0px 30px;
    width: 100%;
    height: 100%;
    color: $font-color;
  }

  .res-card-footer {
    padding-left: 30px;
    background-color: white;
  }

  .res-party-icons {
    font-size: .2em;
    letter-spacing: 3px;
    color: $secondary-color;
  }

  .fa-circle {
    color: $primary-color;
  }

  .edit-reservation-btn:hover {
    .fa-circle {
      color: $primary-hover;
    }
  }
}